
/* adding this css code to eliminate html styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* apply stiles to <header> */
header {
    padding: 20px 35px;
    background-color: #39a6b2;
}
body {
/* more on this crazy alpahumerical value in a minute! */
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
}

/* adding sytle to the header h1 */
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
}

/* added color the header a */
header a {
    text-decoration: none;
    color: #fce138;
}
/* styling the <nav> element */
header nav {
    float: right;
    margin: 7px 0;
}
/* styling the <nav> elements */
header nav ul li {
    display: inline;
}

/* adding more styles to the <a> elements */
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

/* adding style display property to fix the block-level elements */
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}

/* adding style to the footer */
footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
}

/* keeping footer inline */
footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

/* moving footer div to the right */
footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

/* applying color the <a> element */
footer a {
    color: #024e76;
}
    